<!DOCTYPE html>
<html>
<head>
  <title>Campus</title>
  <style>
  div h1{
    font-family: sans-serif;
  }
  button{
    background-color: blue;
    color: white;
  }
</style>
</head>
<body>
    <h1>Here's where Dev Bootcamp is currently located</h1>
    <ul>
      <% @campuses.each do |campus| %>
        <li>- <%= campus['name'] %>(<%= campus['ABR'] %>)</li>
      <% end %>

      
    </ul>
  <div>
    <h2>
        </h2>
    <form method="POST" action="/campus">
    <input type="text" name="campus" placeholder="New Campus">
    <input type="text" name="abbr" placeholder="Abbrev (3 LTR MAX)">
    <button type="submit">ADD</button>
    </form>
  </div>
</body>

</html>