body {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  padding: 0 1em;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

#external-links {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

/* MEDIA QUERY */

@media (max-width: 500px) {

  main {
    display: block;
    width: 90%;
  }

  #external-links {
    display: block;
    width:90%;
  }

}

@media (max-width: 300px) {
  * {
    font-size: 14px;
  }

  h1 {
    font-size: 1.4em;
  }

  main h1 {
    font-size: 1.8em;
  }
}

@media (max-width: 200px) {
  * {
    font-size: 12px;
  }

  h1 {
    font-size: 1.3em;
  }

  main h1 {
    font-size: 1.6em;
  }
}
